body.theme-dark {
  color-scheme: dark;
  --vscode-editor-background: #282a36;
  --vscode-editor-foreground: #f8f8f2;
  --vscode-sideBar-background: #21222c;
  --vscode-sideBar-foreground: #f8f8f2;
  --vscode-titleBar-activeBackground: #191a21;
  --vscode-titleBar-activeForeground: #f8f8f2;
  --vscode-statusBar-background: #191a21;
  --vscode-statusBar-foreground: #f8f8f2;
  --vscode-statusBar-hoverBackground: #44475a;
  --vscode-panel-border: #44475a;
  --vscode-input-background: #282a36;
  --vscode-input-foreground: #f8f8f2;
  --vscode-input-border: #6272a4;
  --vscode-input-placeholderForeground: #6272a4;
  --vscode-focusBorder: #bd93f9;
  --vscode-button-background: #bd93f9;
  --vscode-button-foreground: #282a36;
  --vscode-button-hoverBackground: #ff79c6;
  --vscode-button-secondaryBackground: #44475a;
  --vscode-button-secondaryForeground: #f8f8f2;
  --vscode-list-hoverBackground: #343746;
  --vscode-list-activeSelectionBackground: #44475a;
  --vscode-list-activeSelectionForeground: #f8f8f2;
  --vscode-badge-background: #8be9fd;
  --vscode-badge-foreground: #282a36;
  --vscode-descriptionForeground: #a7adce;
  --vscode-errorForeground: #ff5555;
  --vscode-errorBackground: #4d2731;
  --vscode-warningForeground: #f1fa8c;
  --vscode-warningBackground: #4d472e;
  --vscode-successForeground: #50fa7b;
  --vscode-successBackground: #24452f;
  --vscode-link-foreground: #8be9fd;
  --vscode-scrollbarSlider-background: rgba(98, 114, 164, 0.55);
}
